@(user: String, topic: String, topics: Seq[(domain.Topic, Long)], oldMessages: Seq[domain.Message])

@currentTime = @{
    import java.util.Calendar
    import java.text.SimpleDateFormat
    val today = Calendar.getInstance.getTime
    val curTimeFormat = new SimpleDateFormat("dd.MM hh:mm:ss")
    curTimeFormat.format(today)
}

@main("Chat app") {
    <div ng-app="ChatApp" xmlns="http://www.w3.org/1999/html">
    <div ng-controller="ChatController as chat" ng-init="username = '@{user}'; topic = '@{topic}'; @for(m <- oldMessages){putMessage('@m.text', '@m.user.name', '@m.date.format("dd.MM hh:mm:ss")');}@for(t <- topics){pushTopic({'name':'@t._1.name', 'count':'@t._2'});}">
        @if(user != null) {
            <div class="header">
                <div class="logo"><img data-ng-src="{{chat.getAvatar()}}"/></div>
                    Logged in as @user —
                <a href="@routes.Application.index()" ng-click="chat.disconnect()">Disconnect</a>

            </div>
            <div class="topicsContainer">
                <div class="topicForm">
                    <h2>All rooms:</h2>
                    <form id="topicform" >
                        <input id="topicName" ng-model="chat.newTopic" type="text" class="form-control " placeholder="Enter topic...">

                        <input id="createTopicButton" type="submit" value="Create" ng-click="chat.createTopic()"/>
                    </form>
                </div>
                <div class="topicsDiv">
                    <div id="topics"  ng-repeat="topic in chat.topics">
                        <div><a class="newMsgs">{{topic["count"]}}</a><topic text={{topic["name"]}}></topic><a class="deleteTopic"> [delete] </a></div>
                    </div>

                </div>
                <div>
                    <h2>People</h2>
                    <span ng-repeat="user in chat.topicParticipants.getUnique() track by $index">
                        <div class="L">
                            <a>
                                <img src="@routes.Assets.versioned("images/user.jpeg")"/>
                                <div class="tooltip">{{user}}</div>
                            </a>
                        </div>
                    </span>
                </div>
            </div>

            <div class="mainContainer">
                <div class="container">
                    <div class="Area" ng-repeat="msg in chat.messages track by $index">
                        <div ng-attr-id="{{'first'+msg.id}}" ng-if="msg.username" class="{{msg.firstClass}} L">
                            <a>
                                <img src="@routes.Assets.versioned("images/user.jpeg")"/>
                                <div class="tooltip">{{msg.username}}</div>
                            </a>
                        </div>
                        <div ng-attr-id="{{'second'+msg.id}}" class="text R textR" ng-if="msg.username">[{{msg.date}}] {{msg.data}}</div>
                        <div ng-if="!msg.username" class="infoMessage">{{msg.data}}</div>
                    </div>
                </div>
                <div class="formDiv">
                    <form>
                        <textarea placeholder="Enter message..."
                        ng-model="chat.currentMessage"></textarea>
                        <input type="submit" value="Send"
                        ng-click="chat.sendMessage()">
                    </form>
                </div>
            </div>
        </div>
    } else {
        <div class="loginDiv" ng-controller="LoginController as login">
            <form action="@routes.Application.joinChat(null, "Conversation")" >
                <div> <input id="username" name="username" type="text" placeholder="Enter name..."></div>
                <input type="file" fileread="avatar" onchange="loadFile(event)" />
                <div><img id="logo" src="#" alt="your avatar" id="avatar" name="avatar"/></div>
                <script>
                        var loadFile = function(event) {
                            var output = document.getElementById('logo');
                            var url = URL.createObjectURL(event.target.files[0]);
                            output.src = url;
                        };
                </script>
                <input type="submit" value="Send" />
            </form>
        </div>
    }
    </div>
}

